{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
	What is student X's grade?
{% endblock %}

{% block content %}


<p> You have now seen {{Constants.num_rounds}} comparisons. You are now ready to make your final guess: </p>

<p> What grade did student X receive? Remember, you will receive {{Constants.GradeBonus}} if you get this right. The grading scheme is again displayed below. </p>

{% formfield player.guess label="Please enter your best guess of student X's grade:" %}



{% if treatmendMany %}

   <table class="table table-striped">
        <colgroup>
            <col width="25%">   
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
        </colgroup>
        <tr>    
            <td align='left'> Letter Grade </td>
            <td align="center"><b> A </b></td>  
            <td align="center"><b> B </b></td>
            <td align="center"><b> C </b></td>
            <td align="center"><b> D </b></td>
            <td align="center"><b> E </b></td>
            <td align="center"><b> F </b></td>
        </tr>        
        <tr>    
            <td align='left'> Student Rank </td>
            <td align="left">Rank 1 - 10 </td>
            <td align="left">Rank 11 - 20 </td>
            <td align="left">Rank 21 - 30 </td>
            <td align="left">Rank 31 - 40 </td>
            <td align="left">Rank 41 - 50 </td>
            <td align="left">Rank 51 - 60 </td>
        </tr>

    </table>


  {% elseif treatmentMiddle %}


   <table class="table table-striped">
        <colgroup>
            <col width="25%">   
            <col width="25%">
            <col width="25%">
            <col width="25%">            
        </colgroup>
        <tr>  
            <td align='left'> Letter Grade </td>          
            <td align="center"><b> A </b></td>
            <td align="center"><b> B </b></td>
            <td align="center"><b> F </b></td>            
        </tr>
        <tr>    
            <td align='left'> Student Rank </td>
            <td align="left">Rank 1 - 20 </td>
            <td align="left">Rank 21 - 40 </td>
            <td align="left">Rank 41 - 60 </td>            
        </tr>
    </table>

  {% elseif treatmentFew $}

 

   <table class="table table-striped">
        <colgroup>
            <col width="26%">   
            <col width="37%">
            <col width="37%">
        </colgroup>
        <tr>  
            <td align='left'>  Grade </td>          
            <td align="center"><b> Pass </b></td>
            <td align="center"><b> Fail </b></td>
        </tr>
        <tr>    
            <td align='left'> Student Rank </td>
            <td align="left">Rank 1 - 30 </td>
            <td align="left">Rank 31 - 60 </td>
        </tr>
    </table>

  {% endif %} 







	{% next_button %}

{% endblock %}
