{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your Payment
{% endblock %}

{% block content %}



<p> Your payoff is determined as follows: </p>

<p> <b>Estimate of the letter grade:</b> you get a bonus of <b>{{Constants.GradeBonus}} if you guess student X's letter grade correctly</b>. </p>

<p> <b>Estimates of exact ranking:</b> one of your guesses of student X's precise rank will be randomly selected and you will receive a bonus that is calculated as follows </p>

<p align="center"> <b> Your Bonus</b> = <b>{{Constants.QuadBonus}}</b> - 1/100 * (<b>your guess of the ranking</b> - <b>true ranking</b>)^2 </p>




	{% if treatmentMany %}


   <table class="table table-striped">
        <colgroup>
            <col width="13%">   
            <col width="14.5%">
            <col width="14.5%">
            <col width="14.5%">
            <col width="14.5%">
            <col width="14.5%">
            <col width="14.5%">
        </colgroup>
        <tr>    
            <td align='left'> Letter Grade </td>
            <td align="center"><b> A </b></td>  
            <td align="center"><b> B </b></td>
            <td align="center"><b> C </b></td>
            <td align="center"><b> D </b></td>
            <td align="center"><b> E </b></td>
            <td align="center"><b> F </b></td>
        </tr>        
        <tr>    
            <td align='left'> Student Rank </td>
            <td align="center"> 1 - 10 </td>
            <td align="center"> 11 - 20 </td>
            <td align="center"> 21 - 30 </td>
            <td align="center"> 31 - 40 </td>
            <td align="center"> 41 - 50 </td>
            <td align="center"> 51 - 60 </td>
        </tr>

    </table>


  {% elif treatmentMiddle %}


   <table class="table table-striped">
        <colgroup>
            <col width="25%">   
            <col width="25%">
            <col width="25%">
            <col width="25%">            
        </colgroup>
        <tr>  
            <td align='left'> Letter Grade </td>          
            <td align="center"><b> A </b></td>
            <td align="center"><b> B </b></td>
            <td align="center"><b> F </b></td>            
        </tr>
        <tr>    
            <td align='left'> Student Rank </td>
            <td align="center"> 1 - 20 </td>
            <td align="center"> 21 - 40 </td>
            <td align="center"> 41 - 60 </td>            
        </tr>
    </table>

    {% elif treatmentFew %}


   <table class="table table-striped">
        <colgroup>
            <col width="26%">   
            <col width="37%">
            <col width="37%">
        </colgroup>
        <tr>  
            <td align='left'>  Grade </td>          
            <td align="center"><b> Pass </b></td>
            <td align="center"><b> Fail </b></td>
        </tr>
        <tr>    
            <td align='center'> Student Rank </td>
            <td align="center"> 1 - 30 </td>
            <td align="center"> 31 - 60 </td>
        </tr>
    </table>


	{% endif %} 

    {% next_button %}
{% endblock %}




{% block styles %}

<style>

td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

</style>

{% endblock %}