{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your Task
{% endblock %}

{% block content %}

<p> Of the class of {{Constants.NumPeople}} in the class, <b>one</b> student was randomly selected: call him or her <b>student X</b>. </p>

<p> At the end of the experiment, you will guess what <b>letter grade</b> this student X received. </p>

<p> You will receive information about student X’s performance on the test <b>relative</b> to his or her classmates. Specifically, in each of {{Constants.num_rounds}} rounds, another classmate will be picked at random and you will learn whether student X performed <b>better or worse than this classmate</b> on the test.</p>

<p> For every round, there is an <b>equal probability</b> that any of the classmates is picked. It is hence possible that the same classmate is picked in more than one round. </p>

<p> In each round, <b>you will also be paid to guess student X’s precise ranking</b> (where 1 means best and {{Constants.NumPeople}} means worst of the class). </p>



    {% next_button %}
{% endblock %}



