{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
The task begins on the next screen
{% endblock %}

{% block content %}

<p> Before you make can make your first guess about the ranking, you will receive {{Constants.PrePeriod}} comparisons to classmates. </p>

<p> 
Once you have submitted your first guess, you can adjust (or keep) your guess after every additional comparison.
 </p>

<p> At the end of the experiment, we will also ask you to guess which grade the student X received. </p>


    {% next_button %}
{% endblock %}



