{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
	Round {{round}} out of {{Constants.num_rounds}}
{% endblock %}

{% block content %}

<p> The computer has picked one classmate out of the {{Constants.NumPeopleLessOne}} people in the class. </p>

<p style="font-size:28px"> Student X was {% if signal %}<b> worse </b>{% else %}<b> better </b>{% endif %} than this classmate in this exam. </p>


{% if treatmentMany %}
    <table class="table table-striped">
        <colgroup>
            <col width="13%">   
            <col width="14.5%">
            <col width="14.5%">
            <col width="14.5%">
            <col width="14.5%">
            <col width="14.5%">
            <col width="14.5%">
        </colgroup>
        <tr>    
            <td align='left'> Letter Grade </td>
            <td align="center"><b> A </b></td>  
            <td align="center"><b> B </b></td>
            <td align="center"><b> C </b></td>
            <td align="center"><b> D </b></td>
            <td align="center"><b> E </b></td>
            <td align="center"><b> F </b></td>
        </tr>        
        <tr>    
            <td align='left'> Student Rank </td>
            <td align="center"> 1 - 10 </td>
            <td align="center"> 11 - 20 </td>
            <td align="center"> 21 - 30 </td>
            <td align="center"> 31 - 40 </td>
            <td align="center"> 41 - 50 </td>
            <td align="center"> 51 - 60 </td>
        </tr>

    </table>


  {% elif treatmentMiddle %}


   <table class="table table-striped">
        <colgroup>
            <col width="25%">   
            <col width="25%">
            <col width="25%">
            <col width="25%">            
        </colgroup>
        <tr>  
            <td align='left'> Letter Grade </td>          
            <td align="center"><b> A </b></td>
            <td align="center"><b> B </b></td>
            <td align="center"><b> F </b></td>            
        </tr>
        <tr>    
            <td align='left'> Student Rank </td>
            <td align="center"> 1 - 20 </td>
            <td align="center"> 21 - 40 </td>
            <td align="center"> 41 - 60 </td>            
        </tr>
    </table>

    {% elif treatmentFew %}


   <table class="table table-striped">
        <colgroup>
            <col width="26%">   
            <col width="37%">
            <col width="37%">
        </colgroup>
        <tr>  
            <td align='left'>  Grade </td>          
            <td align="center"><b> Pass </b></td>
            <td align="center"><b> Fail </b></td>
        </tr>
        <tr>    
            <td align='center'> Student Rank </td>
            <td align="center"> 1 - 30 </td>
            <td align="center"> 31 - 60 </td>
        </tr>
    </table>

  {% endif %} 





{% if modeTransition %}

<p> You have now seen {{Constants.PrePeriod}} comparisons: make your first estimate of the ranking of student X.</p>

<p> Reminder: 1 means the student had the best score in the class. {{Constants.NumPeople}} means the student had the worst score in the class. </p>

{% endif %} 


{% if update %}
<p> Your current estimate of the ranking of student X is <b>{{update}}</b>. </p>

<!-- <p> 
If you want to <i>change</i> your estimate, change the number below. Otherwise, just click “Next”.
 </p> -->

{% formfield player.update label="Your new estimate:" %}



{% else %}

{% formfield player.update label="Your initial estimate:" %}


{% endif %}









	{% next_button %}

{% endblock %}




{% block scripts %}
    <script>

   
      $("document").ready(function() {
        setTimeout(function() {
            if ({{update|json}}) {
                $('input[name=update]').val({{update|json}});
            };
        },5);
     });

   
    </script>


{% endblock %}



{% block styles %}

<style>

td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

</style>

{% endblock %}